[project]
	description = OpenDaylight LISP Mapping Service
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-lispflowmapping-commiters
	read = group GitHub Replication
	read = group Non-interactive lispflowmapping users
	forgeAuthor = group ldap/gerrit-lispflowmapping-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-lispflowmapping-commiters
	pushMerge = group ldap/gerrit-lispflowmapping-commiters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-lispflowmapping-commiters
	label-Code-Review = -1..+1 group Non-interactive lispflowmapping users
	label-Verified = -1..+1 group Non-interactive lispflowmapping users
	label-Verified = -1..+1 group ldap/ci-lispflowmapping
	label-Verified = -1..+1 group ldap/gerrit-lispflowmapping-commiters
	submit = group ldap/gerrit-lispflowmapping-commiters
	create = group Non-interactive lispflowmapping users
	forgeAuthor = group Non-interactive lispflowmapping users
	forgeCommitter = group Non-interactive lispflowmapping users
	push = group Non-interactive lispflowmapping users
	pushMerge = group Non-interactive lispflowmapping users
[access "refs/tags/*"]
	pushTag = group Non-interactive lispflowmapping users
	pushTag = +force group ldap/gerrit-lispflowmapping-commiters
	create = group ldap/gerrit-lispflowmapping-commiters
	forgeCommitter = group Non-interactive lispflowmapping users
	push = group Non-interactive lispflowmapping users
	push = +force group ldap/gerrit-lispflowmapping-commiters
