[project]
	description = OpenDaylight LISP Mapping Service
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-lispflowmapping-commiters
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
