create host-interface name vpp1
set int state host-vpp1 up
set int ip address host-vpp1 6.0.2.1/24
create host-interface name xtr_rtr1
set int state host-xtr_rtr1 up
set int ip address host-xtr_rtr1 6.0.3.1/24

lisp enable

lisp map-resolver add 6.0.3.100
lisp locator-set add ls1 iface host-xtr_rtr1 p 1 w 1
lisp eid-table add eid 6.0.2.0/24 locator-set ls1
