create host-interface name vpp2
set int state host-vpp2 up
set int ip address host-vpp2 6.0.4.1/24
create host-interface name xtr_rtr3
set int state host-xtr_rtr3 up
set int ip address host-xtr_rtr3 6.0.3.2/24

lisp enable

lisp map-resolver add 6.0.3.100
lisp locator-set add ls1 iface host-xtr_rtr3 p 1 w 1
lisp eid-table add eid 6.0.4.0/24 locator-set ls1
