.miss {
	background-color: red;
}
.nrel {
	background-color: gray;
}
.part {
	background-color: yellow;
}
.known {
	background-color: cyan;
}
.impl {
	background-color: green;
}
.arch {
	background-color: blue;
}

